.content{
	.posts-container{

	}
	.blog-header{
		padding: 20px 0 10px;
	}
	.blog-header+.posts-container{
		padding: 20px 0 10px;
	}
}
.blog-header{
	.blog-title{
		font-size: 32px;
		text-align: center;
		font-weight: 300;
	}
}
.post-block{
	width: 100%;
	padding: 0 0 20px 0;
	
	.title{
		font-size: 25px;
		padding: 5px 0 0px;
		font-weight: 200;
		position:relative;

		.blog-link{
			width: 82%;
			text-overflow: ellipsis;
			overflow: hidden;
			display: inline-block;
			white-space: nowrap;
			line-height: 28px;
		}
		.option-button{
			font-size: 18px;
			float: right;
			position: absolute;
			right: 1px;
			top: 8px;
			background-color: #FFF;
			

			.transition(opacity 0.3s);

			.tweet-icon{
				position: absolute;
				top: 1px;
				right: 125px;
			}
			.facebook-icon{
				background-color: #5B74A8;
				border-color: #29447E #29447E #1A356E;
				font-size: 12px;
				padding: 2px 2px 2px 5px;
				a{
					color:#fff;
				}
			}
			.share-icon,.delete-icon{
				margin-left:10px;
				color:#222;
			}
			
		}
	}
	.posted-by{
		font-size: 12px;
		color: #7E7D7D;
		padding-left: 3px;
		margin: -2px 0 5px 0;
		font-weight: 200;
		letter-spacing: 1px;
		cursor: pointer;
	}
	&:hover{
		.option-button{
			opacity: 1;
		}
	}
}
.post{
	padding: 5px 5px 6px;
	border: 1px solid #F3F3F3;

	.image{
		width: 25%;
		display: inline-block;

		img{
			width:100%;
			height: 100%;
		}
	}
	.text{
		margin-left: 0px;
		display: inline-table;
		vertical-align: top;
		width: 100%;
		color: #6F6F6F;
		font-size: 15px;
	}
	.image+.text{
		margin-left: 5px;
		width: 74%;
	}
	&:after{
		clear: both;

	}
}
