

// Global Style Sheet

@body-background : #ffffff;
@container-width : 1130px;

body {
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	color: @textColor;
	background-color: @body-background;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin:0px;
	overflow-x: hidden;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
	
	li{

	}
}
.p-loading-image{
	text-align: center;
	margin-top: 100px;
}
.hide{
	display: none !important;
}

.container {
	width: @container-width;
	padding: 0 20px;
	.center-block;
	.clearfix();
}

a {
	color: #111; /*#51e1fc;*/
	text-decoration: none;
	&:hover {
		color: #0D6CAC;
		.transition(color 0.4s linear);
	}
	&.greylink{
		color: @textColor;
		&:hover{
			color: #111;
		}
	}
}

@arrow_size : 6px;
@arrow_color: #ffffff;
@arrow_border_width : 2px;
@arrow_border_color : #ccc;

.arrow_box {
	position: relative;
	background: @arrow_color;
	border: @arrow_border_width solid @arrow_border_color;
	&:after, &:before {
		right: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after{
		border-color: hsla(hue(@arrow_color), saturation(@arrow_color), lightness(@arrow_color), 0);
		border-right-color: @arrow_color;
		border-width: @arrow_size;
		top: 50%;
		margin-top: -@arrow_size;
	}
	&:before{
		border-color: hsla(hue(@arrow_border_color), saturation(@arrow_border_color), lightness(@arrow_border_color), 0);
		border-right-color: @arrow_border_color;
		border-width: (@arrow_size + round(@arrow_border_width * 1.41421356));
		top: 50%;
		margin-top: -(@arrow_size + round(@arrow_border_width * 1.41421356));
	}
}

.body-container{
	opacity: 0;
	.transition(opacity 0.5s linear);
}
.fadeIn{
	opacity: 1;
	.transition(opacity 0.5s linear);
}
.fadeWithOpacity{
	opacity: 0.2;
	.transition(opacity 0.5s linear);
}

.white[class^="icon-"]{
  color: white;
}

.photoAnimation{
	overflow: hidden;
	.translate3d(0,0,0);
	img{
		width:100%;
		height:100%;
		top: 0; left: 0; bottom: 0; right: 0;
		margin: auto;
		position:absolute;
		.transition(all 0.5s linear);

	}
	&:hover{
		img{
			.scale(1.1);
		}
	}
}