/**************************************************/
/* For Sticky Footer */
/**************************************************/
html, body {
	height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -20px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 20px;
}
#footer {
  background-color: #fff;
  font-size: 12px;
  padding: 0 20px;
}


.push-content{
  position: relative;
  left: 0;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
     -moz-transition: -moz-transform 0.5s;
      -ms-transition: -ms-transform 0.5s;
       -o-transition: -o-transform 0.5s;
          transition: transform 0.5s;
  &.open{
    .translate3d(300px, 0, 0);
    &:after{
      width: 100%;
      height: 100%;
      opacity: 1;
      .transition(opacity 0.5s);
    }
  }
  &:after{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.4);
    content: '';
    opacity: 0;
    z-index: 3;
    .transition(~"opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s");
  }
}

.overlay{
  width: 0;
  height: 0;
  position: fixed;
  background-color: rgba(255,255,255,0.4);
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0;
  .transition(~"opacity 0.5s");
  &.show{
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}

.content{
  width:1120px;
  margin:0 auto;
}