/* Modal Box Styling */
/*.cssfilters .theaterMode .body{
  -webkit-transition: -webkit-filter 0.3s linear;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}*/
/*.cssfilters .light-bg{
  background-color: rgba(255, 255, 255, 0.4);
}*/
.light-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0,0,0,0.5);
}
.modalAnimation{
  .animation(hidelight-bg 0.3s backwards ease);
}
.light-bg.shown{
  .animation(showlight-bg 0.9s forwards ease);
}
@-webkit-keyframes showlight-bg {
  0% { visibility:visible; opacity: 0; }
  100%{ visibility:visible; opacity: 1; }
}
@-moz-keyframes showlight-bg {
  0% { visibility:visible; opacity: 0; }
  100%{ visibility:visible; opacity: 1; }
}
@-ms-keyframes showlight-bg {
  0% { visibility:visible; opacity: 0; }
  100%{ visibility:visible; opacity: 1; }
}
@-o-keyframes showlight-bg {
  0% { visibility:visible; opacity: 0; }
  100%{ visibility:visible; opacity: 1; }
}
@keyframes showlight-bg {
   0% { visibility:visible; opacity: 0; }
  100%{ visibility:visible; opacity: 1; }
}

@-webkit-keyframes hidelight-bg {
  100% { visibility:hidden; opacity: 0; }
  0%{ visibility:visible; opacity: 1; }
}
@-moz-keyframes hidelight-bg {
 100% { visibility:hidden; opacity: 0; }
  0%{ visibility:visible; opacity: 1; }
}
@-ms-keyframes hidelight-bg {
  100% { visibility:hidden; opacity: 0; }
  0%{ visibility:visible; opacity: 1; }
}
@-o-keyframes hidelight-bg {
 100% { visibility:hidden; opacity: 0; }
  0%{ visibility:visible; opacity: 1; }
}
@keyframes hidelight-bg {
 100% { visibility:hidden; opacity: 0; }
  0%{ visibility:visible; opacity: 1; }
}

.theaterMode {
  overflow: hidden;

}
.modalBox {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  /*max-width: 630px;*/
  min-width: 320px;
  height: auto;
  z-index: 2000;
  
  
  .translate(-50%, -50%);
}
.shown .modalBox{
}
.modal-container{
  /*color: #fff;
  background: #e74c3c;*/
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  .transition(all 0.3s);
  .animation(hideDetailPage 0.3s backwards ease);

}
.shown .modal-container{
  .animation(showDetailPage 0.8s forwards ease);
}

@-webkit-keyframes showDetailPage {
  0% { opacity: 0; }
  5%{ .scale(0.4); opacity: 0.4; }
  50%{ .scale(1.04); opacity: 1; }
  70%{ .scale(0.95); opacity: 1; }
  80%{ .scale(1.01); opacity: 1; }
  100%{ .scale(1); opacity: 1; }
}
@-moz-keyframes showDetailPage {
  0% { opacity: 0; }
  5%{ .scale(0.4); opacity: 0.4; }
  50%{ .scale(1.04); opacity: 1; }
  70%{ .scale(0.95); opacity: 1; }
  80%{ .scale(1.01); opacity: 1; }
  100%{ .scale(1); opacity: 1; }
}
@-ms-keyframes showDetailPage {
  0% { opacity: 0; }
  5%{ .scale(0.4); opacity: 0.4; }
  50%{ .scale(1.04); opacity: 1; }
  70%{ .scale(0.95); opacity: 1; }
  80%{ .scale(1.01); opacity: 1; }
  100%{ .scale(1); opacity: 1; }
}
@-o-keyframes showDetailPage {
  0% { opacity: 0; }
  5%{ .scale(0.4); opacity: 0.4; }
  50%{ .scale(1.04); opacity: 1; }
  70%{ .scale(0.95); opacity: 1; }
  80%{ .scale(1.01); opacity: 1; }
  100%{ .scale(1); opacity: 1; }
}
@keyframes showDetailPage {
  0% { opacity: 0; }
  5%{ .scale(0.4); opacity: 0.4; }
  50%{ .scale(1.04); opacity: 1; }
  70%{ .scale(0.95); opacity: 1; }
  80%{ .scale(1.01); opacity: 1; }
  100%{ .scale(1); opacity: 1; }
}

@-webkit-keyframes hideDetailPage {
  100% { opacity: 0; }
  95%{ .scale(0.4); opacity: 0.4; }
  10%{ .scale(1); opacity: 1; }
  0%{ .scale(1); opacity: 1; }
}
@-moz-keyframes hideDetailPage {
  100% { opacity: 0; }
  95%{ .scale(0.4); opacity: 0.4; }
  10%{ .scale(1); opacity: 1; }
  0%{ .scale(1); opacity: 1; }
}
@-ms-keyframes hideDetailPage {
  100% { opacity: 0; }
  95%{ .scale(0.4); opacity: 0.4; }
  10%{ .scale(1); opacity: 1; }
  0%{ .scale(1); opacity: 1; }
}
@-o-keyframes hideDetailPage {
  100% { opacity: 0; }
  95%{ .scale(0.4); opacity: 0.4; }
  10%{ .scale(1); opacity: 1; }
  0%{ .scale(1); opacity: 1; }
}
@keyframes hideDetailPage {
  100% { opacity: 0; }
  95%{ .scale(0.4); opacity: 0.4; }
  10%{ .scale(1); opacity: 1; }
  0%{ .scale(1); opacity: 1; }
}

