<html>
	<head>
		<style>
			* {margin: 0; padding: 0;}
			#header {width: 100%; height: 50px; background-color: #464646;}
			#header p {font-size: 30px; font-family: sans-serif; line-height: 50px; letter-spacing: 2px; word-spacing: 4px; color: #ededed; margin-left: 100px;}
			#main {width: 80%; margin: 50px auto;}
			.entry {margin-top: 40px; width: 100%;}
			
			.entrydetail {margin-top: 20px;}
			.entrydetail a {text-decoration: none; font-size: 16px; font-family: serif; letter-spacing: 1px; word-spacing: 2px; color: #464646;}
			.entrydetail p {font-size: 16px; font-family: serif; letter-spacing: 1px; word-spacing: 2px; color: #464646;}
			#datecontrol {width:100%; font-size:20px; line-height:30px; font-family:sans-serif; letter-spacing:1px;}
			#datecontroloption {float:left; background-color:#666; margin-left:25px; color:#ededed; border-radius:20px;}
			#datecontroloption_selected {float:left; background-color:#333; margin-left:25px; color:#fff; border-radius:20px;}
			#nextpage { width:100%;  margin-top: 50px; font-size: 20px; line-height: 30px; font-family: sans-serif; letter-spacing: 2px;}
			#nextpage a {display: inline-block; text-decoration: none;  border-radius: 5px; background-color: #363636; color: #ededed; }
			
			.entryindex {
							font-size: 30px; float: left; color: #666;
							line-height: 30px;
						}
			.entrytitle {font-size: 20px; float: left; margin-left: 0px;  width: 90%;}
			.entrytitle .posturl {text-decoration: none; font-size: 20px; font-family: 'Roboto', sans-serif; word-spacing: 2px; color: #565656; margin-left: 20px; letter-spacing: 1px;}
			.entrytitle a:visited {color: #aaa;}

			.entrytitle .postmeta {font-size: 12px; font-family: 'Roboto', sans-serif; word-spacing: 2px; color: #464646; margin-left: 20px; margin-top: 10px;}
			.postmeta a {font-size: 14px; text-decoration: none; font-style:oblique; color: yellowgreen;}
			.postmeta a:visited { color: red;}
			
		</style>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	</head>
	<body>
		{%load timesince_filter%}
		<div id='header'>
			<p>Travel Stories</p>
		</div>
		<div id='main'>
			<div id='datecontrol'>
				<a href='/today/'>
					{%ifequal urlpath '/today/'%}
						<div id='datecontroloption_selected'>&nbsp;&nbsp;Today&nbsp;&nbsp;</div>
					{%else%}
						<div id='datecontroloption'>&nbsp;&nbsp;Today&nbsp;&nbsp;</div>
					{%endifequal%}
				</a>
				<a href='/yesterday/'>
					{%ifequal urlpath '/yesterday/'%}
						<div id='datecontroloption_selected'>&nbsp;&nbsp;Yesterday&nbsp;&nbsp;</div>
					{%else%}
						<div id='datecontroloption'>&nbsp;&nbsp;Yesterday&nbsp;&nbsp;</div>
					{%endifequal%}
				</a>
				<a href='/old/'>
					{%ifequal urlpath "/old/"%}
						<div id='datecontroloption_selected'>&nbsp;&nbsp;Old&nbsp;&nbsp;</div>
					{%else%}
						<div id='datecontroloption'>&nbsp;&nbsp;Old&nbsp;&nbsp;</div>
					{%endifequal%}
				</a>
				<div style='clear:both;'></div>
			</div>
			{%for entry in paginated_posts.object_list%}
				<div class='entry'>
					<div class='entrymeta'>
						<div class='entryindex'>{{paginated_posts.start_index|add:forloop.counter|add:'-1'}}.</div>
						<div class='entrytitle'>
							<a href='{{entry.url}}' class='posturl'>{{entry.title|safe}}</a>
							{%if entry.rssfeed.source%}
								<p class='postmeta'>
									<span style='font-size:14px;'>by</span>&nbsp;
									<a href='{{entry.rssfeed.source}}'>{{entry.rssfeed.source}}</a>
								</p>
							{%endif%}
						</div>
						<div style='clear:both;'></div>
						
					</div>
					<div class='entrydetail'>
						{{entry.summary|safe}}
					</div>	
				</div>
			{%endfor%}
			{%if paginated_posts.has_next%}
				<div id='nextpage'>
					<a href='{{urlpath}}{{paginated_posts.next_page_number}}/'>&nbsp;&nbsp;More..&nbsp;</a>
				</div>
			{%else%}
				<div id='nextpage'>
					<a href='{{urlpath}}'>&nbsp;&nbsp;Back&nbsp;</a>
				</div>
			{%endif%}
		</div>
		<div id='footer'></div>
	</body>
<html>