
<section class='blog-header <% if(!blog){ %>hide <%}%>'>
	<div class='blog-title'>untappedcities.com</div>
</section>
<section class="posts-container">
	<ul>
		<li class="post-block">
			<div class='title'>
				<a class='blog-link' href=''>Untapped Cities Contributor Profile: Nina Stoller-Lindsey</a>
				<span class='option-button'>
					<span class='share-icon tweet-icon'><a href="https://twitter.com/share" class="twitter-share-button" data-via="serai" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</span>
					<span class='share-icon facebook-icon'>
						<a href="#" 
						  onclick="
						    window.open(
						      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
						      'facebook-share-dialog', 
						      'width=626,height=436'); 
						    return false;">
						  Facebook
						</a>
					</span>
					<span class='share-icon google-icon'>
						<a href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
  src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/></a>
  					</span>
					<a href="#" class="delete-icon"><i class="fa fa-trash-o"></i></a>
				</span>
			</div>
			<div class='posted-by'> http://untappedcities.com </div>
			<div class="post">
				<div class='image'><img src="/site_media/img/ec_lead.jpg" /></div>
				<div class='text'>
					There are certain places on earth that outdo most others when it comes to displaying goods for sale. France is one of them. Mexico also comes to mind. Great care is taken in how food is arranged in the farmers markets of the south. Tomatoes in Marche Forville in Cannes artfully arranged alongside bright yellow lemons no longer look ordinary. 
				</div>
			</div>
		</li>
		<li class="post-block">
			<div class='title'>
				<a class='blog-link' href=''>Southwest Thinks It Has All the Gates It Needs When Love Field Restrictions Are Gone</a>
				<span class='option-button'>
					<span class='share-icon tweet-icon'><a href="https://twitter.com/share" class="twitter-share-button" data-via="serai" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</span>
					<span class='share-icon facebook-icon'>
						<a href="#" 
						  onclick="
						    window.open(
						      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
						      'facebook-share-dialog', 
						      'width=626,height=436'); 
						    return false;">
						  Facebook
						</a>
					</span>
					<span class='share-icon google-icon'>
						<a href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
  src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/></a>
  					</span>
					<a href="#" class="delete-icon"><i class="fa fa-trash-o"></i></a>
				</span>
			</div>
			<div class='posted-by'> http://untappedcities.com </div>
			<div class="post">
				<div class='image'><img src="/site_media/img/ec_lead.jpg" /></div>
				<div class='text'>
					There are certain places on earth that outdo most others when it comes to displaying goods for sale. France is one of them. Mexico also comes to mind. Great care is taken in how food is arranged in the farmers markets of the south. Tomatoes in Marche Forville in Cannes artfully arranged alongside bright yellow lemons no longer look ordinary. 
				</div>
			</div>
		</li>
		<li class="post-block">
			<div class='title'>
				<a class='blog-link' href=''>Untapped Cities Contributor Profile: Nina Stoller-Lindsey</a>
				<span class='option-button'>
					<span class='share-icon tweet-icon'><a href="https://twitter.com/share" class="twitter-share-button" data-via="serai" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</span>
					<span class='share-icon facebook-icon'>
						<a href="#" 
						  onclick="
						    window.open(
						      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
						      'facebook-share-dialog', 
						      'width=626,height=436'); 
						    return false;">
						  Facebook
						</a>
					</span>
					<span class='share-icon google-icon'>
						<a href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
  src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/></a>
  					</span>
					<a href="#" class="delete-icon"><i class="fa fa-trash-o"></i></a>
				</span>
			</div>
			<div class='posted-by'> http://untappedcities.com </div>
			<div class="post">
				<div class='image'><img src="/site_media/img/ec_lead.jpg" /></div>
				<div class='text'>
					There are certain places on earth that outdo most others when it comes to displaying goods for sale. France is one of them. Mexico also comes to mind. Great care is taken in how food is arranged in the farmers markets of the south. Tomatoes in Marche Forville in Cannes artfully arranged alongside bright yellow lemons no longer look ordinary. 
				</div>
			</div>
		</li>
		<li class="post-block">
			<div class='title'>
				<a class='blog-link' href=''>Untapped Cities Contributor Profile: Nina Stoller-Lindsey</a>
				<span class='option-button'>
					<span class='share-icon tweet-icon'><a href="https://twitter.com/share" class="twitter-share-button" data-via="serai" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</span>
					<span class='share-icon facebook-icon'>
						<a href="#" 
						  onclick="
						    window.open(
						      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
						      'facebook-share-dialog', 
						      'width=626,height=436'); 
						    return false;">
						  Facebook
						</a>
					</span>
					<span class='share-icon google-icon'>
						<a href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
  src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/></a>
  					</span>
					<a href="#" class="delete-icon"><i class="fa fa-trash-o"></i></a>
				</span>
			</div>
			<div class='posted-by'> http://untappedcities.com </div>
			<div class="post">
				<div class='image'><img src="/site_media/img/ec_lead.jpg" /></div>
				<div class='text'>
					There are certain places on earth that outdo most others when it comes to displaying goods for sale. France is one of them. Mexico also comes to mind. Great care is taken in how food is arranged in the farmers markets of the south. Tomatoes in Marche Forville in Cannes artfully arranged alongside bright yellow lemons no longer look ordinary. 
				</div>
			</div>
		</li>
		<li class="post-block">
			<div class='title'>
				<a class='blog-link' href=''>Untapped Cities Contributor Profile: Nina Stoller-Lindsey</a>
				<span class='option-button'>
					<span class='share-icon tweet-icon'><a href="https://twitter.com/share" class="twitter-share-button" data-via="serai" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</span>
					<span class='share-icon facebook-icon'>
						<a href="#" 
						  onclick="
						    window.open(
						      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
						      'facebook-share-dialog', 
						      'width=626,height=436'); 
						    return false;">
						  Facebook
						</a>
					</span>
					<span class='share-icon google-icon'>
						<a href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
  src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/></a>
  					</span>
					<a href="#" class="delete-icon"><i class="fa fa-trash-o"></i></a>
				</span>
			</div>
			<div class='posted-by'> http://untappedcities.com </div>
			<div class="post">
				<div class='image'><img src="/site_media/img/ec_lead.jpg" /></div>
				<div class='text'>
					There are certain places on earth that outdo most others when it comes to displaying goods for sale. France is one of them. Mexico also comes to mind. Great care is taken in how food is arranged in the farmers markets of the south. Tomatoes in Marche Forville in Cannes artfully arranged alongside bright yellow lemons no longer look ordinary. 
				</div>
			</div>
		</li>
		<li class="post-block">
			<div class='title'>
				<a class='blog-link' href=''>Untapped Cities Contributor Profile: Nina Stoller-Lindsey</a>
				<span class='option-button'>
					<span class='share-icon tweet-icon'><a href="https://twitter.com/share" class="twitter-share-button" data-via="serai" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</span>
					<span class='share-icon facebook-icon'>
						<a href="#" 
						  onclick="
						    window.open(
						      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
						      'facebook-share-dialog', 
						      'width=626,height=436'); 
						    return false;">
						  Facebook
						</a>
					</span>
					<span class='share-icon google-icon'>
						<a href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
  src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/></a>
  					</span>
					<a href="#" class="delete-icon"><i class="fa fa-trash-o"></i></a>
				</span>
			</div>
			<div class='posted-by'> http://untappedcities.com </div>
			<div class="post">
				<div class='image'><img src="/site_media/img/ec_lead.jpg" /></div>
				<div class='text'>
					There are certain places on earth that outdo most others when it comes to displaying goods for sale. France is one of them. Mexico also comes to mind. Great care is taken in how food is arranged in the farmers markets of the south. Tomatoes in Marche Forville in Cannes artfully arranged alongside bright yellow lemons no longer look ordinary. 
				</div>
			</div>
		</li>
	</ul>
</section>