<html>
    <head>
        <style>
            * {margin:0; padding: 0;}
            #header {width: 100%; height: 50px; background-color: #464646;}
            #main {width: 100%; margin: 0; padding: 0;}
            #photoset {width: 100%;}
            #photoset .photo {float:left; margin: 1px; width: 25%;}
            #photoset .photo img { width:100%;  }
            #photoset .wikidetail {float:left; width: 40%; height: 300px; margin-left: 10px;}
            #photoset .map {float:left; width: 21%; height: 300px;}
            #photoset .streatview {float:left; width: 300px; height: 300px;}
            /*.photo a {margin-top: 80px; display: block; margin-left: 150px; text-decoration: none;  border-radius: 5px; background-color: #363636; color: #ededed; font-size: 30px; font-family: sans-serif;}
            .photo a {display: inline-block; text-decoration: none;  border-radius: 5px; background-color: #363636; color: #ededed; font-size: 30px; font-family: sans-serif; margin: 100px auto; width: 100px;}*/
            .wikitabs {width: 100%;}
            .wikitabs div {font-size: 20px; font-family: sans-serif; color: #363636; font-weight: bold;}
            .wikisummary {width: 100%;}
            .wikisummary p { font-family: helvetica; font-size: 16px; margin-top: 20px; line-height: 25px;}
            .wikicat {width: auto; margin-top: 10px; height: 100px;}
            .wikicat p {width: 225px; display: inline-block; font-size: 16px; font-weight: bold; margin: 15px 10px 10px 10px; font-family: sans-serif; line-height: 25px; color: green; border: 1px dashed grey;}
        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    </head>
    <body>
        <div id='header'></div>
        <div id='main'>
            {%for p in paginated_photos%}
                <div id='photoset'>
                    <div class='photo'>
                        <p>{{p.photo_title_}}</p>
                        <img src='{{p.photo_url}}'/>
                    </div>
                    <div class='map'>
                        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{p.lat}},{{p.lng}}&zoom=11&size=400x300&markers=color:blue%7C%7C{{p.lat}},{{p.lng}}&sensor=false">
                    </div>
                    <div class='wikidetail'>
                        <div class='wikitabs'>
                            {%for wiki_entry in p.wikidetail.geonames%}
                                <div style='width:19%; float:left;' class='ind{{forloop.counter}}'> {{wiki_entry.title}}</div>
                            {%endfor%}
                            <div style='clear:both;'></div>
                        </div>
                        <div class='wikisummary'>
                            {%for wiki_entry in p.wikidetail.geonames%}
                                {%if forloop.first%}
                                    <p> {{wiki_entry.summary}}</p>
                                {%else%}
                                    <p style='display:none;'> {{wiki_entry.summary}}</p>
                                {%endif%}
                            {%endfor%}    
                        </div>
                        <div class='wikicat'>
                        </div>
                        <div style='clear:both;'></div>
                    </div>
                    <!--<div class='streatview'>
                        <img src="http://maps.googleapis.com/maps/api/streetview?size=400x300&location={{p.lat}},{{p.lng}}&heading=235&sensor=false">
                    </div>-->
                    
                </div>
                <div style='clear:both;'></div>
            {%endfor%}
        </div>
        {%if paginated_photos.has_next%}
            <div style='width:200px; height: 50px; text-align:center; margin-top:50px;'>
                <a style='text-decoration:none; font-size:30px; font-family:sans-serif; color:#666;' href='/test/culture/{{paginated_photos.next_page_number}}/'>&nbsp;&nbsp;More..&nbsp;</a>
            </div>
        {%else%}
            <div style='width:100%; height: 50px;'>
                <a href='/test/culture/'>&nbsp;&nbsp;Back&nbsp;</a>
            </div>
        {%endif%}
    </body>
    <script>
        function f(elmt){
            elmt.parent().children().css('color', 'green')
            elmt.css('color', 'red')
            var ind = parseInt(elmt.attr('class').slice(3)) - 1
            elmt.parent().parent().find('.wikisummary').children().css('display', 'none')
            $(elmt.parent().parent().find('.wikisummary').children()[ind]).css('display', 'block')
            $.ajax({
                type: "GET",
                url: "/test/culture/wikicat/",
                data: { wikititle: elmt.text()}
            }).done(function( msg ) {
                elmt.parent().parent().find('.wikicat').children().remove()
                var cat_list = $.parseJSON(msg)
                for(var i=0; i<cat_list.length; i++){
                    var s = "<p>" + cat_list[i] + "</p>"
                    elmt.parent().parent().find('.wikicat').append(s)
                }
                elmt.parent().parent().find('.wikicat').append("<div style='clear:both;'></div>")
            });
        }
        
        $('.wikitabs div').click(function(){
            f($(this));
        })

        var all_tabs = $('.wikitabs');
        for(var i=0; i<all_tabs.length; i++){
            f($($(all_tabs[i]).children('div')[0]));
        }
        /**/
    </script>
</html>