<html>
    <head>
        <style>
            * {margin: 0; padding: 0;}
            #main {width: 85%; height: 100px; margin: 0px auto;}
            #section1 { width: 100%; margin-top: 50px;}
            #section2 { width: 100%; margin-top: 50px;}
            #section3 { width: 100%; margin-top: 50px;}
            .transportcontrol {width: 100%;}
            .transportcontrol .from {float: left; font-size: 24px; font-family: sans-serif;}
            .transportcontrol .path {float: left; width: 100px; margin-left: 20px;}
            .transportcontrol .to {float: left; margin-left: 20px; font-size: 24px; font-family: sans-serif;}
            .fromselect {font-size: 20px; font-family: sans-serif;}
            .toselect {font-size: 20px; font-family: sans-serif;}

            .transportdetail {margin-left: 20px; width: 750px; width: 100%; margin-top: 30px;}
            .clear {clear: both;}
            .arrow-right {
                width: 0; height: 0; border-top: 7px solid transparent; border-bottom: 7px solid transparent;
                border-left: 14px solid red; float: left; margin-top: 5px;
            }
            .option {float: left; width: 250px;}
            .optiontitle {width: 100%; font-size: 18px; font-family: sans-serif; padding-left: 50px;}
            .optiondetail {width: 100%; font-size: 16px; font-family: sans-serif; margin-top: 10px;}
            .optiondetaildrop {float: left;}
            .optiondetailreturn {float: left; margin-left: 20px;}
            #section3 .transportcontrol {float: left; width: auto;}
            #section3 .transportdetail {float: left; width: auto; margin-top: 0px; margin-left: 50px;}
            input {float: left; font-size: 20px; font-family: sans-serif; margin-top: 2px;}
            .path {width: 100%;}
            .path .node {float: left; width: 100px;}
            .path .route {float: left; width: 100px; height: 0px;}
        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        
    </head>
    <body>
        <div id='main'>
            <div id='section1'>
                <div class='transportcontrol'>
                    <div class='from'>
                        <select class='fromselect'>
                            <option>Delhi</option>
                            <option>Mumbai</option>
                            <option>Bangalore</option>
                            <option>Kolkata</option>
                            <option>Chandigarh</option>
                        </select>
                    </div>
                    <div class='path'>
                        <div style='width:85px; border-top:3px solid grey; margin-top:11px; float:left;'></div>
                        <div class='arrow-right'></div>
                        <div class='clear'></div>
                    </div>
                    <div class='to'>Leh</div>
                    <div class='clear'></div>
                </div>
                <div class='transportdetail'>
                    <!--<div class='path'>
                        <div class='node'>Mumbai</div>
                        <div class='route'></div>
                        <div class='node'>Delhi</div>
                        <div class='route'></div>
                        <div class='node'>Manali</div>
                        <div class='route'></div>
                        <div class='node'>Leh</div>
                        <div class='clear'></div>
                    </div>-->
                </div>
            </div>
            <div id='section3'>
                <div class='transportcontrol'>
                    <div class='from'>Leh</div>
                    <div class='path'>
                        <div style='width:85px; border-top:3px solid grey; margin-top:11px; float:left;'></div>
                        <div class='arrow-right'></div>
                        <div class='clear'></div>
                    </div>
                    <div class='to'>
                        <select class='toselect'>
                            {% for i in leh_local_route %}
                                <option>{{i.place}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class='clear'></div>
                </div>
                <div class='transportdetail'>
                    <div class='option'>
                        <select style='font-size:18px; font-family:sans-serif;'>
                            <option>Xylo/Innoval</option>
                            <option>Scorpio/Tavera/Qualis</option>
                            <option>Tata Sumo</option>
                        </select>
                    </div>
                    <div class='optiondetail' style='float:left; width:auto; margin:0; margin-left:20px;'>
                        <div style='float:left;'>
                            <input type="radio" name="cost" value="10300"><p style='float:left; margin-left:10px; width:200px;'>&nbsp; Rs. 10300 (drop)</p>
                        </div>
                        <div style='float:left; margin-left:20px;'>
                            <input type="radio" name="cost" value="12300"><p style='float:left; margin-left:10px; width:200px;'>&nbsp; Rs. 12300 (return)</p>
                        </div>
                    </div>
                    
                    
                    <div class='clear'></div>

                </div>
                <div class='clear'></div>
            </div>
        </div>
    </body>
    <script>

        function update_leh_path(){
            var from = $('#section1 .fromselect option:selected').val();
            var to = 'Leh'
            $.ajax({
                    type: "GET",
                    url: "/test/path/",
                    data: { from: from, to: to }
                    }).done(function( jsondata ) {
                        var data = $.parseJSON(jsondata)
                        $('#section1 .transportdetail').children().remove();
                        for (var i=0; i<data.length; i++){
                            s = "<div class='path'>"
                            for (var j=0; j<data[i].length; j++){
                                s = s + "<div class='node'>" + data[i][j] + "</div>"
                            }
                            s = s + "<div class='clear'></div>"
                            $('#section1 .transportdetail').append(s);
                        }
                });
        }
        $('#section1 .fromselect').change( function(){
            update_leh_path();
        })
        update_leh_path();


        function update_leh_localroute(){
            var from = 'Leh';
            var to = $('#section3 .transportcontrol .toselect option:selected').val();
            $.ajax({
                    type: "GET",
                    url: "/test/localroute/",
                    data: { from: from, to: to }
                    }).done(function( jsondata ) {
                        var data = $.parseJSON(jsondata)
                        var vechile_type = $('#section3 .transportdetail .option select option:selected').val();
                        if (vechile_type=='Xylo/Innoval'){
                            $($('#section3 .transportdetail .optiondetail input')[0]).val(data[0][0]);
                            $($('#section3 .transportdetail .optiondetail p')[0]).text('Rs. ' + data[0][0] + ' (Drop)');
                            $($('#section3 .transportdetail .optiondetail input')[1]).val(data[0][1]);
                            $($('#section3 .transportdetail .optiondetail p')[1]).text('Rs. ' + data[0][1] + ' (Return)');
                        }
                        if (vechile_type=='Scorpio/Tavera/Qualis'){
                            $($('#section3 .transportdetail .optiondetail input')[0]).val(data[1][0]);
                            $($('#section3 .transportdetail .optiondetail p')[0]).text('Rs. ' + data[1][0] + ' (Drop)');
                            $($('#section3 .transportdetail .optiondetail input')[1]).val(data[1][1]);
                            $($('#section3 .transportdetail .optiondetail p')[1]).text('Rs. ' + data[1][1] + ' (Return)');   
                        }
                        if (vechile_type=='Tata Sumo'){
                            $($('#section3 .transportdetail .optiondetail input')[0]).val(data[2][0]);
                            $($('#section3 .transportdetail .optiondetail p')[0]).text('Rs. ' + data[2][0] + ' (Drop)');
                            $($('#section3 .transportdetail .optiondetail input')[1]).val(data[2][1]);
                            $($('#section3 .transportdetail .optiondetail p')[1]).text('Rs. ' + data[2][1] + ' (Return)');
                        }
                        
                });
        }
        $('#section3 .transportcontrol .toselect').change( function(){
            update_leh_localroute();
        })
        update_leh_localroute();
        $('#section3 .transportdetail .option select').change( function(){
            update_leh_localroute();
        })
    </script>
</html>