<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      * {margin: 0; padding: 0;}
      
      .entry {width: 700px; height: 60px;}
      .entry1 {width: 100%}
      .from_node, .to_node, .via_node {width: 20px; height: 20px; border: 2px solid #222; background-color: green; display: inline-block; border-radius: 15px;}
      .route_line {height: 20px; width: 200px; display: inline-block;}
      .line { border-top: 2px solid red; width: 100%; margin-top: 7px;}
      .entry2 {width: 100%}
      .from, .to, .via {height: 25px; font-size: 16px; font-family: sans-serif;  display: inline-block; text-align: left;}
      .route {height: 20px; width: 200px; display: inline-block;}
      .path, .entrydetail {float: left; margin: 0; padding: 0; height: 100%;}
      
      .entrydetail {margin-left: 100px;}
      .detail1, .detail2, .detail3 {display: inline-block; height: 100%; width: 100px; text-align: center; line-height: 30px;}
      .detail1 p {font-size: 14px; font-family: sans-serif; display: inline-block; margin: 0; padding: 0;}
      .detail2 p {font-size: 14px; font-family: sans-serif; display: inline-block; margin: 0; padding: 0;}
      .detail3 p {font-size: 14px; font-family: sans-serif; display: inline-block; margin: 0; padding: 0;}
    </style>
    
  </head>
  <body>
    {%for each in route1%}
      <div class='entry'>
        <div class='path'>
          <div class='entry1'>
            <div class='from_node'></div>
            <div class='route_line'>
              <div class='line'></div>
            </div>
            <div class='to_node'></div>
          </div>
          <div class='entry2'>
            {%if forloop.first%}
              <div class='from'>Leh</div>
            {%else%}
              <div class='from'></div>
            {%endif%}
            <div class='route'></div>
            <div class='to'>{{each.place}}</div>
          </div>
        </div>

        <div class='entrydetail'>
          {%for price in each.taxi%}
            <div class='detail1'>
              <p>{{price.0}}</p>
              <p>{{price.1}}</p>
            </div>
          {%endfor%}
        </div>
        <div style='clear:both;'></div>
      </div>
    {%endfor%}

    <!--<canvas id="map-canvas" height="500" width="800"></canvas>-->
  </body>
  <!--<script>
  	var canvas_width = 800;
    var canvas_height = 500;
    var route = {{route1|safe}}
  	var canvas = document.getElementById('map-canvas');
      var context = canvas.getContext('2d');
      function getPoint(latitude, longitude, canvas_width, canvas_height) {
            var obj = {};
            obj.x = (latitude * canvas_height / 180.0) + (canvas_height / 2);
            obj.y = (longitude * canvas_width / 360.0) + (canvas_width / 2);
            return obj;
      }
      function drawNode(ctx, node){
          //draw node
          ctx.beginPath();
          ctx.arc(node.x, node.y, 4, 0, 2 * Math.PI, false);
          ctx.fillStyle = '#363636';
          ctx.fill();
          ctx.lineWidth = 2;
          ctx.strokeStyle = '#363636';
          ctx.stroke();

          //draw text
          ctx.font = '11pt sans-serif';
          ctx.fillStyle = 'red';
          var new_x, new_y;
          if (node.x.flag=='min'){
            new_x = node.x + 15;
          }else if(node.x.flag=='max'){
            new_x = node.x + 15;
          }else{
            new_x = node.x + 15;
          }
          if (node.y.flag=='min'){
            new_y = node.y;
          }else if(node.x.flag=='max'){
            new_y = node.y;
          }else{
            new_y = node.y;
          }
          ctx.fillText(node.place, new_x, new_y+3);          
      }
      
      var point_list = [];

      function f(route){
      	var lat_list = [];
  	    var lng_list = [];
  	    for (var i=0; i<route.length; i++){
  	    	if (route[i].lat!='' && route[i].lng!=''){
  		        lat_list.push(parseFloat(route[i].lat));
  		        lng_list.push(parseFloat(route[i].lng));
  		    }
  	    }
  	    
  	    var min_lat = Math.min.apply(null, lat_list) - 0.01;
  	    var max_lat = Math.max.apply(null, lat_list) + 0.01;
  	    var min_lng = Math.min.apply(null, lng_list) - 0.01;
  	    var max_lng = Math.max.apply(null, lng_list) + 0.01;
  	    var lat_variation = 1.1 * (max_lat - min_lat);
  	    var lng_variation = 1.1 * (max_lng - min_lng);
        
        for (var i=0; i<route.length; i++){
        	if (route[i].lat!='' && route[i].lng!=''){
        		route[i].x = parseInt((route[i].lng-min_lng) * canvas_width/(lng_variation));
            route[i].y = parseInt(canvas_height - ((route[i].lat-min_lat) * canvas_height/(lat_variation)));
            drawNode(context, route[i]);
            point_list.push({'x': route[i].x, 'y': route[i].y})
        	}else{
        		route[i].x = false;
        		route[i].y = false;
        	}
        }
      }
      f(route);
  </script>-->
</head>