<!-- This file is the base file for logged in user templates -->
{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <!-- <meta name="viewport" content="width=device-width"> -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- <link rel="shortcut icon" href="/favicon.ico"> -->
	<!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->
    <link rel="stylesheet" href="{% get_media_prefix %}css/bootup.css">
	{% block extra_head %}{% endblock %}
    <!--<script src="{% get_media_prefix %}js/vendor/modernizr-2.6.2.min.js"></script>-->
</head>
<body>
	<!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    
    <div id="wrap" class="push-content">
        <div class="header"></div>
        <div class="content">
            {% block content %}{% endblock %}
            <p style="text-align: center;"><img src="/site_media/img/horizontal-loader.gif" alt=""></p>
        </div>
        <div id="global-loader-container"></div>
        <div id="push"></div>
	</div>

	<div id="footer" class="footer push-content">
		<span class="copy">&copy; 23spaces.com</span>
	</div>



    <div class="overlay"></div>
    <script>
        var MEDIA_ROOT = '{% get_media_prefix %}';
        {% if user.id %}
        var USER_OBJECT = JSON.parse('{{user.get_json_str|escapejs}}');
        {% else %}
        var USER_OBJECT = {id:0};
        {% endif %}
    </script>
	{% block json_data %}{%endblock%}
	{% block extra_footer %}{%endblock%}
	<script data-main="{% get_media_prefix %}js/app/config" src="{% get_media_prefix %}js/vendor/require.min.js"></script>
    


	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44526971-1', 'serai.me');
      ga('send', 'pageview');

    </script>
    -->
</body>
</html>